    <h2>Hi, {{ user }}</h2>
    <p>The following task is due.</p>
    <p>&nbsp;</p>
    <table style="height: 64px; width: 558px; float: left;" border="0">
    <tbody>
    <tr>
    <td style="width: 159px;"><span style="color: #999999;">TITLE</span></td>
    <td style="width: 385px;">{{ title }}</td>
    </tr>
    <tr>
    <td style="width: 159px;"><span style="color: #808080;">DUE DATE</span></td>
    <td style="width: 385px;">{{ dueDate }}</td>
    </tr>
    <tr>
    <td style="width: 159px;"><span style="color: #808080;">PRIORITY</span></td>
    <td style="width: 385px;">{{ priority }}</td>
    </tr>
    </tbody>
    </table>
