<title>Password reset complete</title>
{%  extends 'userManagementTemplate.html' %}
{% block content %}
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
        <h3>Password reset complete</h3>

        <p>Your password has been set. <br> You may go ahead and log in now.</p><br>

        <div class="container-login100-form-btn">
          <button  class="login100-form-btn">
            <a href="{% url 'login' %}">LogIn</a>
          </button>
        </div>
			</div>
		</div>
	</div>


	<div id="dropDownSelect1"></div>

{% endblock content %}
